body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0px;
  padding: 0px;
  background-color: white;
  color: black;
  font-size: 25px;
  height: 100%;
  box-sizing: border-box;
}

header {
  display: flex;
  flex-direction:row;
  justify-content: space-between;
  color: white;
}

main {
  flex-grow: 1;
  padding: 20px;
  box-sizing: border-box;
  overflow-y: auto;
}

h1 {
  font-size: 60px;
  text-decoration: underline;
  text-shadow: 2px 2px 2px white;
}

h2 {
  font-size: 35px;
  text-decoration: underline;
  text-shadow: 2px 2px 2px white;
  margin-left: 10px;
}

h3 {
  margin-left: 10px;
}

p {
  font-size: 25px;
  font-family: monospace;
  margin-left: 25px;
}

a {
  color: white;
  font-family: monospace;
  text-decoration: none;
  text-shadow: 3px 3px 3px black;
  padding-top: 50px;
}

button {
  font-size: 30px;
}

footer {
  display: flex;
  justify-content: center;
  color: #fff;
  font-size: 30px;
  border-radius: 15px;
  box-shadow: 12px 12px 8px 5px black;
}

.header {
  border: 5px double black; 
  padding: 25px; 
  border-radius: 50px;
  background: linear-gradient(90deg, rgba(3,36,0,1) 0%, rgba(13,231,34,1) 50%, rgba(0,255,76,1) 100%);
}

.container {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.dark-mode {
  background-color: black;
  color: white;
}

.dark-mode h1 {
  text-shadow: 3px 3px 3px black;
}

.dark-mode h2 {
  text-shadow: 3px 3px 3px black;
}

.dark-mode h3 {
  text-shadow: 3px 3px 3px black;
}

.light-mode h3 {
  text-shadow: 3px 3px 3px white;
}

body.dark-mode {
  background: black;
  color: white;
}

body.light-mode {
  background: white;
  color: black;
}

body.dark-mode #blogPostsContainer .post {
  background: linear-gradient(90deg, rgba(3,36,0,1) 0%, rgba(13,231,34,1) 50%, rgba(0,255,76,1) 100%);
}

body.light-mode #blogPostsContainer .post {
  background: linear-gradient(-90deg, rgba(3,36,0,1) 0%, rgba(13,231,34,1) 50%, rgba(0,255,76,1) 100%);
}

.light-mode footer {
  background: linear-gradient(-90deg, rgba(3,36,0,1) 0%, rgba(13,231,34,1) 50%, rgba(0,255,76,1) 100%);
}

.light-mode header {
  background: linear-gradient(-90deg, rgba(3,36,0,1) 0%, rgba(13,231,34,1) 50%, rgba(0,255,76,1) 100%);
  color: black;
}

.dark-mode .go-back-button {
  background: linear-gradient(-90deg, rgba(3,36,0,1) 0%, rgba(13,231,34,1) 50%, rgba(0,255,76,1) 100%);
  color: white;
}

.footer {
  border: 5px double black; 
  padding: 0; 
  width: 99.5%;
  position: relative;
  padding-bottom: 100px;
  bottom: 0px;
  margin: 0px 0px 10px 0px;
  color: white;
  font-size: 40px;
  height: 50px;
  align-items: center;
  z-index: 1;
  background: linear-gradient(90deg, rgba(3,36,0,1) 0%, rgba(13,231,34,1) 50%, rgba(0,255,76,1) 100%);
}

a:hover {
  color:  rgb(5, 177, 14);
}
  
.emoji-button {
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
  margin: 0;
  font-size: 50px;
}

.emoji-button:hover {
  opacity: 0.7; 
}

.go-back-button {
  margin-left: 65%;
  border-radius: 40%;
  height: 75px;
  background: linear-gradient(90deg, rgba(3,36,0,1) 0%, rgba(13,231,34,1) 50%, rgba(0,255,76,1) 100%);
  color: black;
  text-shadow: 2px 2px 3px black;
  cursor: pointer;
}

.go-back-button:hover {
  color: rgb(5, 177, 14);
}

#blogPostsContainer {
  padding-bottom: 20px;
}

#blogPostsContainer .post {
    border: 1px solid #000000;
    margin: 10px 0;
    padding: 10px;
    background: rgb(36, 34, 34);
    border-radius: 5px;
}