* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: rgb(20, 20, 20);
    padding: 20px;
}

button {
    padding: 10px;
    margin: 24px;
    cursor: pointer;
    font-size: 24px;
    background-color: black;
    color: white;
    text-shadow: 2px 2px 3px lime;
  }
  
  /*this keeps the input boxes white*/
input {
  background-color: #f7f7f7;
  }

  /*just one of many sections a linear gradient was used to colorfully style a section of the page*/
header {
    background: linear-gradient(-90deg, rgba(3,36,0,1) 0%, rgba(13,231,34,1) 50%, rgba(0,255,76,1) 100%);
    color: #fff;
    padding: 10px 0;
    margin: 0 15px;
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    border: black;
    border-radius: 20px;
    box-shadow: 12px 12px 8px 5px black;
    text-shadow: 3px 3px 3px black;
}

main {
    max-width: 60%;
    margin: 60px auto;
    padding: 20px;
    background: linear-gradient(-90deg, rgba(3,36,0,1) 0%, rgba(13,231,34,1) 50%, rgba(0,255,76,1) 100%);
    border: black;
    border-radius: 20px;
    box-shadow: 12px 12px 8px 5px black;
}


h1 {
    display: flex;
    justify-content: center;
    color: white;
    font-size: 50px;
    text-shadow: 3px 3px 3px black;
}

h2 {
    color: black;
    font-size: 30px;
    text-shadow: 2px 2px 3px white;
    text-decoration: underline;
    padding-bottom: 10px;
    font-family: monospace;
}

label {
    color: black;
    font-size: 18px;
    text-shadow: 3px 3px 3px white;
    text-decoration: underline;
    font-family: monospace;
}

.text-center {
    text-align: center;
}

.mt-20 {
    margin-top: 20px;
}

#name,
#title,
#submit {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0px;
    box-sizing: border-box;
    font-size: 18px;
  }

#content {
    text-align: start;
    padding: 12px 20px;
    margin: 8px 0px;
    height: 200px;
    font-size:18px;
    box-sizing: border-box;
    width: 100%;
}
